
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600;700&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Josefin Slab', serif;
  height:100%;
  width: 100%;
text-align: center;
margin: 0;
color: rgb(47, 46, 65);
}

.heading{
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: white;
  padding: 55.5pt;
  padding-top: 15pt;
  font-size: 78px;
  
}


//rgba(0, 0, 0, 0.678)
.first{
background-image:url("../Background.jpeg") ;
background-size: 1280px 721px;
background-repeat: no-repeat;
height:100%;
width: 100%;
padding: 300px;
border-bottom: 0;
padding-bottom: 229px;

}
//rgba(175, 70, 4, 0.815), rgba(110, 63, 16, 0.76)

.second, .third, .fourth, .fifth{
 // color:rgb(102, 27, 1);
 //color: #abf0e9;
  //background-color: rgb(231, 100, 39);
  color: rgb(62, 187, 152);
  width: 50%;
  margin: 100px auto;
  font-size: 20px;

}

//
.sixth{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.897),rgba(196, 78, 9, 0.671)),url("../Newspaper.jpg") ;
    background-size: 1280px 721px;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    padding: 300px;
    border-bottom: 0;
    padding-bottom: 229px;
  
}

.phone-img{
  float: left;
  margin-right: 20px;
}

.gossip-img{
  float: right;
  margin-left: 20px;
}
.surprise-img{
  float: left;
  margin-right: 20px;
}

.fashion-img{
  float: right;
  margin-left: 20px;
}

h2{
  color: rgb(47, 46, 65);
  font-size: 50px;
  font-weight: lighter;

  
}
.best{
  color: black;
}

h3{
  color: black;
  text-align: center;
}

hr{

  border-style: none;
  background-color: white;
  border-top-style: dotted;
  border-width: 6px;
  border-color: rgb(238, 241, 250);
  width: 4%;

}

ul{
  list-style-type: none;
  position: absolute;
  top: 10pt;
  right: 10pt;
}

li{
  float: left;
  
}

.nav{
text-decoration: none;
color:white ;
display: block;
text-align: center;
padding: 14px 16px;
font-weight: bold;
}

.nav:hover{
  color: orange;
}

//img{
 // height: 150px;
 // border-radius: 50%;

//}

html, body {
  height: 100%;
}



.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #E76427;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.subscribe{
  width: 230px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #E76427;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 24px 28px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: #E76427;
}





.button:hover {
  background-color: rgb(252, 114, 50);
  box-shadow: 0px 15px 20px rgba(229, 128, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-body{
  padding-bottom: 10px;;
}

.top-of-third-division{
  background-color: rgb(238, 241, 250);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width:1280px;
  height:50px;
}

.bottom-of-third-division{
  background-color: rgb(238, 241, 250);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width:1280px;
  height:50px;
}

.third-division{
  background-color: rgb(238, 241, 250);
}

.news{
  width: 60%;
  margin: 0px auto;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 100px;
  
}

.gossip{
  width: 70%;
  margin: 0px auto;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 100px;

}


.newsImg{
  float: left;
  margin-right: 20px;
  height: 300px;
}

.gossipImg{
  float: right;
  margin-left: 20px;
  height: 280px;
}

.fashion{
  width: 60%;
  margin: 0px auto;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 100px;
}

.fashionImg{
  float: left;
  margin-right: 60px;
  height: 350px;
}

.fashionText{
  padding-top: 80px;
}

.cardImg{
  height: 150px;
  width: 150px;
}



.company-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  display: inline-block;
  margin-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 2px;
  padding-left: 2px;
  color: rgb(47, 46, 65);
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.company-card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.fourth-division{
  padding-bottom: 30px;
}

//p{
//  text-align: justify;
//}
.top-of-fifth-division{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 1280px;
  height: 30px;
  background-color: rgb(238, 241, 250);
}

.fifth-division{
background-color: rgb(238, 241, 250);
padding: 10px 100px;
}

.dark{
  display: inline-block;
  height: 35px;
  margin-right: 70px;
  margin-bottom: 50px;
}

.sixth-division{
color: rgb(47, 46, 65);
font-family: 'Sacramento', cursive;
text-align: center;
font-size: 100px;
padding-top:100px ;
padding-bottom: 100px
}


.seventh-division{
  background-color:#E76427;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn{
  background-color: rgb(47, 46, 65); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer-link{
  width: 150px;
  display: inline-block;
  color: rgb(47, 46, 65);
}


.addarticle{
  background-image:url("../Background.jpeg") ;
  background-size: 1280px 721px;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 300px;
  padding-right: 61px;
  color: black;
}

.articleTitle{
  color: white;
  font-family: 'Sacramento', cursive;
font-size: 70px;
position: absolute;
top: 71px;
margin-left:538.7px;

}

.articleTitle2{
  position: absolute;
  color: rgb(47, 46, 65);
  font-family: 'Sacramento', cursive;
font-size: 70px;
top: 72px;
margin-left:536.5px;
}

/* GRID*/

.articleBody {
  background: #E76427;
}

.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1px;
  background-color: #E76427;
  padding: 30px;
  margin: 4px;
}

.gridContainer > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  border-radius: 5px;
  color: rgb(71, 70, 70)

}

.gridH5{
  color: rgb(47, 46, 65);
}

.aboutTatafo{
  color: rgb(74, 165, 130);
  font-family: 'Sacramento', cursive;
font-size: 70px;
}

.aboutBody{
  background-color: rgb(239, 200, 184);

}

.about{
padding: 50px 50px;
padding-bottom: 115px;


}

.aboutImg{
width: 75%;
float: left;

}

.aboutText{
  font-size: 50px;
  margin-left: 40px;
  color: rgb(74, 165, 130);


}

.aboutSeven{
  background-color:rgb(239, 200, 184) ;
}

.contactTop{
  margin: 0 auto;
}

.contactImg{
  width: 40%;
  float: left;

}

.contactContent{
  font-size: 30px;
}

.contactBody{
  background-color: #E76427;
  
}

.contactSeven{
  background-color: #E76427;

}